xformers==0.0.23.post1
diffusers==0.25.0
h5py
huggingface_hub==0.25.2
matplotlib
scikit-image
gradio==4.11.0
gradio-imageslider==0.0.16
trimesh
tqdm
accelerate
transformers==4.39.1
imgaug
GitPython
pygltflib
pyvista
fire
